* {
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.container div {
    display: flex;
    height: 150px;
    width: 150px;
    background-color: plum;
    border: goldenrod solid 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}