* {
    background-color:lightslategray;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Fredoka One', cursive;
}

.title ul {
    list-style: none;
}

.title li {
    font-family: monospace;
    font-size: 40px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.playerButtons #div {
    display: flex;
    font-size: 50px;
    height: 75px;
    width: 75px;
    background-color: plum;
    border: goldenrod solid 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    margin: 20px;
}


.playerButtons :hover {
    cursor: pointer;
}

.playerButtons h5 :hover {
    cursor: vertical-text;
}

.cpuButtons :hover {
    cursor: not-allowed;
}

.cpuButtons h5 :hover {
    cursor: vertical-text;
}

.cpuButtons div {
    display: flex;
    font-size: 50px;
    height: 75px;
    width: 75px;
    background-color: plum;
    border: black solid 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    margin: 20px;
}

.played {
    transform: scale(1.3);
    border: #ffc600 solid 5px;
    box-shadow: 0 0 1rem #ffc600;

}

.hud {
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}

.resetContainer {
    display: flex;
    justify-content:center;
    margin-top: 50px;
}


/* //scoreboard font {
    font-family: 'Fredoka One', cursive;

} */